@import "tailwindcss";

@theme {
  --color-background: #111111;
  --color-text: #efefef;
  --color-subtle: #a0a0a0;
  --color-card-bg: #1d1d1d;
  --color-border: #2d2d2d;
  --color-accent-start: #ff8c00;
  --color-accent-end: #ffd700;
  --color-accent: #ffbf00;
}

* {
  cursor: none !important;
}

*:active {
  cursor: none !important;
}

body {
  background-color: #111111;
  color: #efefef;
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-manrope);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffbf00;
}

@keyframes pan-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  .custom-cursor-container {
    display: none;
  }
}
